In [1]:
import pandas as pd
import numpy as np
import json
import os
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [19]:
df_players = pd.DataFrame()
folder = 'data/lineups'
for filename in os.listdir(folder):
    with open(os.path.join(folder, filename), encoding='utf8') as f:
        players = json.load(f)
        df_players = pd.concat([df_players, pd.DataFrame(players)])

In [21]:
df_lineups = []
for idx, row in df_players.iterrows():
    df_lineup = pd.DataFrame(row['lineup']).assign(team_id = row['team_id'], team_name = row['team_name'])
    df_lineups.append(df_lineup)
df_players = pd.concat(df_lineups)

In [22]:
df_players = df_players[['player_id', 'player_name', 'player_nickname', 'jersey_number', 'team_id', 'team_name']]
df_players = df_players.drop_duplicates()

In [31]:
df_players.head()

,player_id,player_name,player_nickname,jersey_number,team_id,team_name
0,3109,Malcom Filipe Silva de Oliveira,Malcom,14,217,Barcelona
1,3501,Philippe Coutinho Correia,Philippe Coutinho,7,217,Barcelona
2,5203,Sergio Busquets i Burgos,Sergio Busquets,5,217,Barcelona
3,5211,Jordi Alba Ramos,Jordi Alba,18,217,Barcelona
4,5213,Gerard Piqué Bernabéu,Gerard Piqué,3,217,Barcelona

In [28]:
df_players.to_excel('extracted_data/players.xlsx', columns=df_players.columns)